.container {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    margin: 0 auto;
}

.device-card {
    margin-top: 10px;
    color: white;
    background-color: #3f51b5;
    padding: 10px 5px;
    border-radius: 10px;
}

.mat-employee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mat-line-employee {
    margin: 1rem 0;
}

.mat-line-btn {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
