<div class="container">
    <mat-card class="employee-card">
        <mat-card-title>{{ employee.name }}</mat-card-title>
        <mat-card-subtitle>{{ employee.email }}</mat-card-subtitle>
        <mat-card-content>
            <p>This is where the assigned device list will go.</p>
            <mat-list>
                <div mat-subheader>Devices</div>
                <mat-list-item *ngFor="let device of employee.devices_info">
                    <div mat-line>{{ device.serialNumber }}</div>
                    <div mat-line>{{ device.description }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
