<div class="container">
    <ng-container *ngIf="employee$ | async as employee">
        <mat-card class="employee-card">

            <mat-card-title>{{ employee.name }}</mat-card-title>
            <mat-card-subtitle>{{ employee.email }}</mat-card-subtitle>

        </mat-card>
        <mat-list>
            <div mat-h3>Devices</div>
            <app-assigned-devices [devices]="employee.devices_info"></app-assigned-devices>
            <mat-divider></mat-divider>
        </mat-list>
    </ng-container>
    <button mat-button routerLink="/">Back</button>
    <button mat-button (click)="openAssignDevice()">Assign Device</button>

</div>