.device-table {
    margin-top: 10px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row:hover {
    background-color: #e8eaf6;
    cursor: pointer;
}

.mat-column-id {
    width: 10%;
}

.mat-column-actions {
    width: 10%;
    white-space: nowrap;
}

td,
th {
    width: 15%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
